{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <form class="mx-auto" method="POST" action="/login">
        <h4 class="text-center">Login</h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="notification">
            {{ messages[0] }}
          </div>
        {% endif %}
        {% endwith %}
        <div class="mb-3 mt-4">
          <input class="input is-large form-control" type="email" name="email" placeholder="Your Email" autofocus="">
        </div>
        <div class="mb-3">
            <input class="input is-large form-control" type="password" name="password" placeholder="Your Password">
        </div>
        <div class="mb-3">
          <label class="checkbox">
            <input type="checkbox">
            Remember me
          </label>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </form>
</div>

{% endblock %}